<div class="row">
  <div class="col-6">
    <textarea class="form-control" [(ngModel)]="inputArea1" rows="5" (click)="$event.target.select()" (blur)="convertUOrderIds()" ></textarea>
  </div>
  <div class="col-6">
    <textarea class="form-control" [(ngModel)]="inputArea2" rows="5" (click)="$event.target.select()"(blur)="convertOrderIdsToSql()" ></textarea>
  </div>
</div>
<br>
<nav class="navbar">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <button (click)="convertUOrderIds()" class="btn btn-outline-primary">UOrder ID</button>
    </li>
    <li class="nav-item">
      <button (click)="convertOrderIdsToSql()" class="btn btn-outline-primary">Order ID</button>
    </li>
    <li class="nav-item">
      <button (click)="exportPackingSlip()" class="btn btn-outline-primary">Export PackSlip XML</button>
    </li>
    <li class="nav-item">
      <button (click)="getCurrentMonthOrdersExportSQL()" class="btn btn-outline-primary">Export Monthly Summary</button>
    </li>
    <li class="nav-item">
      <button (click)="getMonthOrdersNoChannelSQL()" class="btn btn-outline-primary">Month Orders No Channel</button>
    </li>
    <li class="nav-item">
      <button (click)="getBadOrders24hrsSQL()" class="btn btn-outline-primary">Bad Orders 24Hrs</button>
    </li>
    <li class="nav-item">
      <button (click)="getDBU()" class="btn btn-outline-primary">DB</button>
    </li>
  </ul>
</nav>

<textarea class="form-control" [(ngModel)]="outputArea1" rows="4" (click)="$event.target.select()"></textarea>
<textarea class="form-control" [(ngModel)]="outputArea2" rows="7" (click)="$event.target.select()"></textarea>
